.App {
  display:flex;
  justify-content:space-around;
  align-item:center;
}

.quizCustomization{
  display:flex;
  align-item:center;
  justify-content:center;
  flex-direction:column;
  margin-top:20vh;
}
.quizCustomization>label{
  font-size:20px;
  margin-top:3vh;
  font-weight:600;
}
.quizCustomization>input{
  font-size:20px;
  height:8vh;
  width:30vw;
  margin-top:3vh;
}
.quizCustomization>button{
  font-size:20px;
  background-color:cyan;
  border:none;
  margin-top:3vh;
  height:8vh;
  width:31vw;
  cursor:pointer;
}